body {
    background-color: #121213 ;
    font-family: Arial, sans-serif;
}

.button:hover {
    background-color: lightseagreen;
}

.form-container {
    /* Allinea gli elementi in modo verticale*/
    display: flex;/* utilizzo flexbox layout */
    flex-direction: column;/* dispongo gli elementi in una colonna del box*/
    justify-content: center;/* elementi centrati rispetto alla larghezza(contrario di align-items) */
    
    margin: auto;
    width: 18%; 
    border-radius: 10px; /* Aggiunge angoli arrotondati al box */
    padding: 20px; /* Imposta un padding interno */
    border: 2px solid #818384; /* colore del bordo del box e spessore */
}

/* Modifica l'aspetto degli input */
.input-style {

    padding: 12px 20px; /* Aggiunge un padding intorno al testo */
    margin-bottom: 20px; /* Aggiunge un margine sotto l'input */
    font-size: 16px; /* Aumenta la dimensione del font */
    border: 2px solid rgb(215, 215, 215);  /* Rimuove il bordo */
    border-radius: 4px;     /* Aggiunge un bordo arrotondato */
    background-color: #141618; /* colore scuro simile al nero */
    color: #fff; /* testo bianco */

}

/* Modifica l'aspetto del pulsante di invio */
.button-style {
    background-color: #4CAF50; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 20px; /* Aggiunge un padding intorno al testo */

/* Aggiunge un margine sotto, destra e sinistra il bottone */
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto; 
        
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

.leave-button-style {
    background-color: red; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 20px; /* Aggiunge un padding intorno al testo */
    margin-bottom: 20px; /* Aggiunge un margine sotto il bottone */
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

/* Modifica l'aspetto del link */
.link-style {
    font-size: 16px;/* Aumenta la dimensione del font */
    color: #e5e5e5;/* Imposta il colore del testo su blu */
    text-decoration: none;/* Rimuove la sottolineatura */
    margin: auto;
}

.errors {
    color: red;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: #fff;
}
.pretitle{
    text-align: left;
    font-size: 15px;
    font-weight: bold;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}