body {
    background-color: #121213 ;
    font-family: Arial, sans-serif;
}

.button:hover {
    background-color: lightseagreen;
}

.form-container {
    display: flex;/* utilizzo flexbox layout */
    flex-direction: column;/*elementi in una colonna del box*/
    justify-content: center;/* elementi centrati rispetto alla larghezza(contrario di align-items) */
    
    margin: auto;
    width: 18%; 
    
    /* Aggiunge angoli arrotondati al box */
    border-radius: 10px; 
    padding: 20px;
    border: 2px solid #818384;
}

/* Modifica l'aspetto degli input */
.input-style {

    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: 16px; 
    border: 2px solid rgb(215, 215, 215); 
    border-radius: 4px;
    background-color: #141618;
    color: #fff;

}

/* Modifica l'aspetto del pulsante di invio */
.button-style {
    background-color: #4CAF50; 
    color: white;
    padding: 14px 20px;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;     
        
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.leave-button-style {
    background-color: red; 
    color: white;
    padding: 14px 20px; 
    margin-bottom: 20px;
    border: none;  
    border-radius: 4px;  
    cursor: pointer;
}

/* Modifica l'aspetto del link */
.link-style {
    font-size: 16px;
    color: #e5e5e5;
    text-decoration: none;
    margin: auto;
}

.errors {
    color: red;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: #fff;
}
.pretitle{
    text-align: left;
    font-size: 15px;
    font-weight: bold;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}