body {
    background-color: #121213 ;
    font-family: Arial, sans-serif;
}

.button:hover {
    background-color: lightseagreen;
}


.chat-box {
    display: grid;
    grid-template-rows: 1fr auto; /* 1 parte per i messaggi e una parte per il form e il bottone */
    grid-template-columns: 1fr; /* 1 colonna per i messaggi, form e bottone */
    height: 75%;  /* altezza  per il box */
    width: 70%;
    overflow-x: scroll;
    overflow-y: scroll; /* permette solo di scorrere verticalmente */
    border: 2px solid #818384; /* bordo del box */
    border-radius: 10px; /* angoli arrotondati */
    padding: 20px; /* padding interno */
    margin: auto;
    
}

#messages {
    width: 70%;
    height: 75%; 
    grid-row: 1 / 2; /* posiziona i messaggi nella prima riga */
    grid-column: 1 / 1; /* posiziona i messaggi nella prima colonna */
    overflow-wrap: break-word; /* fa andare a capo i messaggi troppo lunghi */
        color: white; /* imposta il colore del testo su bianco */
        margin-left: 5px; /* aggiungi un margine a sinistra */

}

.username-chat {
    color: #4CAF50; /* scegli un colore casuale */
    font-weight: bold; /* rendi il testo in grassetto */
    margin-right: 5px; /* aggiungi un margine a destra */
    }
    
    .stats {
    color: white; /* imposta il colore del testo su bianco */
    margin-left: 5px; /* aggiungi un margine a sinistra */
    }


.chat-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

#newMessage {
 /* posiziona il form nella seconda riga */
    grid-column: 1 / 2; /* posiziona il form nella prima colonna */
    align-self: start; /* allinea il form in basso a sinistra */
    width: 110%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: 30%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px; /* Aggiunge angoli arrotondati al box */
    padding: 13px; /* Imposta un padding interno */
    border: 2px solid #818384; /* colore del bordo del box e spessore */
    background-color: #121213; /* imposta un colore di sfondo */
    color: white; /* imposta il colore del testo su bianco */
}

#sendMessage {
    color: white; /* Imposta il colore del testo su bianco */
    margin-right: 28%;
    width: 30%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
 /* posiziona il bottone nella seconda riga */
    grid-column: 2 / 3; /* posiziona il bottone nella prima colonna */
    align-self: start; /* allinea il bottone in basso a destra */
    justify-self: end; /* allinea il bottone a destra rispetto al form */
}

* {
    box-sizing: border-box;
  }
.column {
    float: left;
    width: 50%;
    height: 600px;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 650px) {
    /* CSS da applicare quando la larghezza dello schermo è inferiore o uguale a 650px */
    .column {
        float: none;
        width: 100%;
    }
 }

.form-container {
    /* Allinea gli elementi in modo orizzontale*/
    display: flex; 
    flex-direction: column;
    justify-content: center;

    /* posiziono il form al centro rispetto all'altezza,
     ma circa 2/5 della pagina rispetto alla largezza*/
    margin: auto;
    width: 40%; 
    border-radius: 10px; /* Aggiunge angoli arrotondati al box */
    padding: 20px; /* Imposta un padding interno */
    border: 2px solid #818384; /* colore del bordo del box e spessore */
}

/* Modifica l'aspetto degli input */
.input-style {

    padding: 12px 20px; /* Aggiunge un padding intorno al testo */
    margin-bottom: 20px; /* Aggiunge un margine sotto l'input */
    font-size: 16px; /* Aumenta la dimensione del font */
    border: 2px solid rgb(215, 215, 215);  /* Rimuove il bordo */
    border-radius: 4px;     /* Aggiunge un bordo arrotondato */
    background-color: #121213; /* colore scuro simile al nero */
    color: #fff; /* testo bianco */

}

/* Modifica l'aspetto del pulsante di invio */
.button-style {
    background-color: #4CAF50; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 20px; /* Aggiunge un padding intorno al testo */

    /* Aggiunge un margine sotto, destra e sinistra il bottone */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; 

    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

.button-style-invia {
    background-color: #4CAF50; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 14px; /* Aggiunge un padding intorno al testo */
    line-height: 0px; /* l unico modo per centrare il testo , per non andare il conflitto con altro*/
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

.leave-button-style {
    background-color: red; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 20px; /* Aggiunge un padding intorno al testo */
    margin-bottom: 20px; /* Aggiunge un margine sotto il bottone */
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

/* Modifica l'aspetto del link */
.link-style {
    font-size: 16px;/* Aumenta la dimensione del font */
    color: #e5e5e5;/* Imposta il colore del testo su blu */
    text-decoration: none;/* Rimuove la sottolineatura */
}

.errors {
    color: red;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: #fff;
}
.pretitlestanza {
    text-align: center;
    font-size: 15px;
    font-weight: bold;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}
.pretitlechat {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}
.pretitle{
    text-align: left;
    font-size: 15px;
    font-weight: bold;

    font-family: 'Karnak Condensed', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(134, 134, 134);
}

/* container della partita*/

.guesses-box {
    display: grid;
    grid-template-rows: 1fr auto; /* 1 parte per i messaggi e una parte per il form e il bottone */
    grid-template-columns: 1fr; /* 1 colonna per i messaggi, form e bottone */
    height: 200px;  /* altezza  per il box */
    width: 350px;
    overflow-x: hidden;
    overflow-y: scroll; /* permette solo di scorrere verticalmente */
    border: 2px solid #818384; /* bordo del box */
    border-radius: 10px; /* angoli arrotondati */
    padding: 20px; /* padding interno */
    margin-top: auto;
    margin-bottom: auto; 
}
.button-style-guess {
    background-color: #4CAF50; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 20px; /* Aggiunge un padding intorno al testo */
    line-height: 0px; /* l unico modo per centrare il testo , per non andare il conflitto con altro*/
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}

.guess-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

#newGuess {
 /* posiziona il form nella seconda riga */
    grid-column: 1 / 2; /* posiziona il form nella prima colonna */
    align-self: start; /* allinea il form in basso a sinistra */
    width: 280px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px; /* Aggiunge angoli arrotondati al box */
    padding: 13px; /* Imposta un padding interno */
    border: 2px solid #818384; /* colore del bordo del box e spessore */
    background-color: #121213; /* imposta un colore di sfondo */
        color: white; /* imposta il colore del testo su bianco */
        margin-left: 5px; /* aggiungi un margine a sinistra */
}

.guessbutton {
    color: white; /* Imposta il colore del testo su bianco */
    margin-right: 105%;
    width: 60px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
 /* posiziona il bottone nella seconda riga */
    grid-column: 2 / 3; /* posiziona il bottone nella prima colonna */
    align-self: start; /* allinea il bottone in basso a destra */
    justify-self: end; /* allinea il bottone a destra rispetto al form */
}
#sendGuess {
    background-color: #4CAF50; /* Imposta il colore di sfondo su verde */
    color: white; /* Imposta il colore del testo su bianco */
    padding: 14px 6px; /* Aggiunge un padding intorno al testo */
    line-height: 0px; /* l unico modo per centrare il testo , per non andare il conflitto con altro*/
    border: none;  /* Rimuove il bordo */
    border-radius: 4px;  /* Aggiunge un bordo arrotondato */
    cursor: pointer; /* Cambia il cursore del mouse */
}